.App {
  text-align: center;
  background-image: url(images/halloween-background-4338707_1280.jpg);
  background-position: left;
  font-family: "Marker Felt", fantasy, serif;
  
}

.grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
